__pycache__/
*.py[cod]
*$py.class

venv/
.env/
.envrc

*.log

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

.ipynb_checkpoints

*.spec

pip-log.txt
pip-delete-this-directory.txt

.mypy_cache/
.dmypy.json
dmypy.json

.pyre/

.vscode/

.DS_Store

*.bak
*.swp
docker-compose.override.yml

build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

staticfiles/
templates/__pycache__/

__pypackages__/
.venv/
.pytest_cache/
